body {
  font-family: sans-serif;
  line-height: 1.5;
  background: #f9f9f9;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.form-container {
  display: flex;
  place-content: center;
  place-items: center;
}

.form-container .form-group {
  margin-bottom: .5em;
}

.form-container input {
  display: block;
  padding: .5em 0 .5em .5em;
}

.form-container button[type="submit"] {
  margin-top: 1em;
  padding: 1em;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

span.error {
  display: block;
  color: red;
}
