body {
  font-family: sans-serif;
  line-height: 1.5;
  background: #f9f9f9;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.form-container input {
  display: block;
}

.form-container input[type="submit"] {
  margin-top: 1em;
}

span.error {
  display: block;
  color: red;
}